/* Header style */
.illuminated{
    font-weight: 900;
    font-size: 70px;
    margin: 10.8px 0 37px 0;
}
.title{
    color: #36413E;

}
.social1{
    color: #36413E;
    font-size: 20px;
}
.nav-a{
    font-size: 18px;
    color: #7F7F7F;
}
.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
}
.nav{
    display: flex;
    flex-wrap: wrap;
}
.nav-li{
    margin: 40.5px 102px 64px 0;
    font-size: 16px;
}
.nav-li:last-child{
    margin-right: 36.3px;
}
.social{
    margin: 40.5px 0 64px 0;
}
.fa-search{
    margin-right: 39px;
}
.fab{
    margin-right: 8.2px;
}
.fab:last-child{
    margin-right: none;
}
.fa-facebook-f{
    margin-right: 12.8px;
}
.fa-facebook-f{
    margin-right: 39px;
}
/* section1 */
.section1{
    background-image: url(../img/Banner\ Image.jpg);
    background-position: center center;
    height: 855px;
    margin-top: 122.5px;
    Background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.container1{
    background-color: #FFFFFF;
    max-width: 706px;
    width: 100%;  
    position: absolute;
    top: 85%;
    left: 25%;
}
.container2{
    border-style: solid;
    border-width: 1px;
    border-color: #36413E;
    background-color: #FFFFFF;
    margin: 16px;
}
.line{
    position: absolute;
    background-color: #36413E;
    width: 498px;
    height: 1px;
    margin: 0 94.5px 0 97.5px;
}
.title1{
    font-size: 40px;
    font-style: italic;
    width: 502px;
    margin: 19px 87px 10.5px 86px;
    text-align: center;
    color: #19381F;
}
.container-p{
    font-size: 20px;
    font-style: italic;
    color: #7F7F7F;
    text-align: center;
    margin: 20px 94px 7px 97px;

}
.story-a{
    font-size: 14px;
    text-decoration: underline;
    color: #7F7F7F;
}
.story{
    text-align: center;
    margin-bottom: 27px;

}
/* section2 */
.section2{
    background-color: #FAE8EB;
    padding-bottom: 166px;
}
.container3{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.pic{
    margin-top: 131px;
    position: relative;
    z-index: 6;
}
.section-title1{
    font-size: 40px;
    font-style: italic;
    text-align: center;
    padding-top: 87px;
    color: #36413E;
    position: relative;
}
.section-title2{
    font-size: 40px;
    color: #36413E;
    text-align: center;
}
.section-t-div{
    background-color: #FFFFFF;
    width: 407px;
    position: absolute;
    left: 530px;
}
/* section2 */
.box1{
    display: flex;
    flex-direction: row;
    position: relative;
    display: flex;
}

.border{
    border-style: solid;
    border-color: #306B34;
    width: 493px;
    height: 493px;
    position: absolute;
    border-width: 3px;
    left: 19px;
    top: 21.5px;
}
.miller{
    width: 482px;
    background-color: #F9CFBC;
}
.box-title{
    font-size: 40px;
    color: #19381F;
    text-align: center;
    padding: 18px 0 18px 0;
}
.anna{
    position: absolute;
    top: 220px;
    left: 350px;
    z-index: 6;
}
.box-p{
    font-size: 20px;
    font-style: italic;
    color: #7F7F7F;
    width: 300px;
    float: right;
    padding: 31px 0 26px 10px;
}
.clear{
    clear: both;
}
.more{
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    color: #7F7F7F;
}
.more-a{
    color: #7F7F7F;

}
.line-1{
    background-image: url(../img/Graphic\ Element\ Line.svg);
    height: 277px;
    max-width: 224px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 384.5px;
    top: -5px;
    z-index: 5;
}
.line-2{
    position: relative;
}
.box2{
    display: flex;
    flex-direction: row;
    margin-top: 220px;
}
.pic2{
    position: relative;
    margin-right: 130px;
    z-index: 6;
}
.border2{
    border-style: solid;
    border-color: #306B34;
    width: 493px;
    height: 493px;
    position: absolute;
    border-width: 3px;
    left: -19px;
    top: 21.5px;
    z-index: 6;
}
.reynolds{
    width: 482px;
    background-color: #F9CFBC;
}
.kayla{
    position: relative;
    margin-top: 90px;
    left: 93px;
    z-index: 8;
}
.box2-title{
    font-size: 40px;
    color: #19381F;
    text-align: center;
    padding: 18px 0 18px 0;
}
.box-p2{
    font-size: 20px;
    font-style: italic;
    color: #7F7F7F;
    width: 300px;
    padding: 31px 0 26px 0;
}
.more2{
    font-size: 14px;
    text-decoration: underline;
    color: #7F7F7F;
}
.more-a2{
    color: #7F7F7F;
} 
.line3{
    background-image: url(../img/Line\ 2.svg);
    height: 277px;
    max-width: 224px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 510px;
    z-index: 3;
}
.line-2{
    position: relative;
}
.border1{
    border-style: solid;
    border-color: #306B34;
    width: 502px;
    height: 502px;
    position: absolute;
    border-width: 3px;
    left: 19px;
    top: 21.5px;
}
.box3{
    display: flex;
    flex-direction: row;
    position: relative;
    display: flex;
    margin-top: 140px;
}
/* section2 */
.blog1{
    background-color: #F9CFBC;
    left: 560px;
}

.sec-t{
    marging-top: 59px;
}
.blog-back{
    background-image: url(../img/Blog\ Background\ Section\ 1.png);
    height: 321px;
    width: 100%;
    background-size: cover;
    margin-top: 151.5px
}
.blog-back2{
    background-image: url(../img/Blog\ Background\ Section\ 2.png);
    height: 367.5px;
    width: 100%;
    background-size: cover;
    margin-top: 234.5px;
}
.blog-back3{
    background-image: url(../img/Blog\ Background\ Section\ 3.png);
    height: 306px;
    width: 100%;
    background-size: cover;
    margin-top: 450px;
}
.blog-section{
    position: relative;
}
.img1{
    position: absolute;
    top: -92px;
    left: 202px;
    z-index: 1;
}
.img2{
    position: absolute;
    top: 280px;
    left: 640px;
    z-index: 2;
}
.img3{
    position: absolute;
    left: 210px;
    top: 690px;
    z-index: 3;
}
.img4{
    position: absolute;
    left: 660px;
    top: 1110px;
    z-index: 2;
}
.travel{
    max-width: 298.67px;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    top: 230px;
    left: 109.7px;
}
.travel1{
    border-style: solid;
    border-width: 1px;
    border-color: #36413E;
    background-color: #FFFFFF;
    margin: 14px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 37px;
}
.travel-t{
    color: #19381F;
    font-size: 40px;
}
.travel-l{
    width: 190px;
    height: 1px;
    background-color: #36413E;
    position: absolute;
    left: 20%;
}
.beauty{
    top: 200px;
    left: 109.7px;
}
.career{
    top: 185px;
    left: 130px;
}
.section3{
    padding-bottom: 124px;
}
/* section4 */
.section4{
    background-color: #FAE8EB;
    padding-bottom: 72px;
}
.line-12{
    background-image: url(../img/Graphic\ Element\ Line.svg);
    height: 277px;
    width: 224px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 900px;
}
.line-13{
    background-image: url(../img/Line\ 2.svg);
    height: 277px;
    width: 224px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 160px;
    top: 130px;
}
.shop-title{
    background-color: #FFFFFF;
    max-width: 300px;
    width: 100%;
    position: relative;
    left: 580px;
    text-align: center;
}
.shop-t{
    font-size: 40px;
    font-style: italic;
    text-align: center;
    padding-top: 87px;
    color: #36413E;
    position: relative;
}
.shop-title3{
    font-size: 40px;
    color: #36413E;
}
.shop-title1{
    top: -600px;
    position: relative;
}
.shop.cont{
    position: absolute;
}
.shop1{
    max-width: 250px;
    width: 100%;
}
.container-shop {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    top: -520px;
}
.shop1-title{
    font-size: 30px;
    margin-top: 20px;
    color: #7F7F7F;
}
.shop-a{
    color: #7F7F7F;
}
.more1{
    /* position: relative; */
    width: 148px;
    background-color: #36413E;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0 15px 0;
    margin-top: -400px;
}
.click1{
    font-size: 12px;
    font-weight: 900;
}
.click{
    color: #FFFFFF;
}
/* footer styles */
.span-footer{
    background-color: #F9CFBC;
}
.footer-title{
    font-size: 40px;
    font-style: italic;
    text-align: center;
    margin-top: 110px;
}
.form{
    flex-wrap: wrap;
    max-width: 677px;
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 110px;
}
.name,
.mail,
.button{
    display: inline-block;
}
.name,
.mail{
    margin-right: 65px;
}
.input-wraper{
    width: 194px;
    padding: 15px 0 15px 12px;
    border-color: #707070;
}
.input-wraper::placeholder{
    color: #36413E;
    font-size: 12px;
    font-weight: 900;
}
.button{
    max-width: 148px;
    width: 100%;
    background-color: #36413E;
    font-size: 12px;
    font-weight: 900;
    color: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 8px;
}
.footer-wraper{
    width: 100%;
    background-color: #306B34;
}
.footer-nav{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around; 
    padding-top: 29px;
    padding-bottom: 32px;
}
.nav-f{
    font-size: 10px;
}

.nav-fa{
    color: #FFFFFF;
}
.privacy1{
    display: flex;
    flex-direction: row;
    padding-left: 71px;
}
.navigation{
   display: flex;
}
.nav-f{
    padding-right: 49px;
}
.soc-icon{
    display: flex;
    flex-direction: row;
}
.nav-p{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 900;
}
.insta,
.twit,
.fb{
    color: #FFFFFF;
    font-size: 16px;
}
.insta,
.twit{
    padding-right: 24px;

}
