/* Header style */
.illuminated{
    font-weight: 900;
    font-size: 70px;
    margin: 10.8px 0 37px 0;
}
.title{
    color: #36413E;

}
.social1{
    color: #36413E;
    font-size: 20px;
}
.nav-a{
    font-size: 18px;
    color: #7F7F7F;
}
.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
}
.nav{
    display: flex;
    flex-wrap: wrap;
}
.nav-li{
    margin: 40.5px 102px 64px 0;
    font-size: 16px;
}
.nav-li:last-child{
    margin-right: 36.3px;
}
.social{
    margin: 40.5px 0 64px 0;
}
.fa-search{
    margin-right: 39px;
}
.fab{
    margin-right: 8.2px;
}
.fab:last-child{
    margin-right: none;
}
.fa-facebook-f{
    margin-right: 12.8px;
}
.fa-facebook-f{
    margin-right: 39px;
}
/* section1 */
.section1{
    background-image: url(../img/Banner\ Image.jpg);
    height: 855px;
    margin-top: 122.5px;
    Background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.container1{
    background-color: #FFFFFF;
    max-width: 706px;
    width: 100%;  
    position: absolute;
    top: 85%;
    left: 25%;
}
.container2{
    border-style: solid;
    border-width: 1px;
    border-color: #36413E;
    background-color: #FFFFFF;
    margin: 16px;
}
.line{
    position: absolute;
    background-color: #36413E;
    width: 498px;
    height: 1px;
    margin: 0 94.5px 0 97.5px;
}
.title1{
    font-size: 40px;
    font-style: italic;
    width: 502px;
    margin: 19px 87px 10.5px 86px;
    text-align: center;
    color: #19381F;
}
.container-p{
    font-size: 20px;
    font-style: italic;
    color: #7F7F7F;
    text-align: center;
    margin: 20px 94px 7px 97px;

}
.story-a{
    font-size: 14px;
    text-decoration: underline;
    color: #7F7F7F;
}
.story{
    text-align: center;
    margin-bottom: 27px;

}
/* section2 */
body{
    background-color: #FAE8EB;
}
.container3{
    max-width: 895px;
    width: 100%;
    margin: 0 auto;
}
.pic{
    background-image: url(../img/WHM\ 1.jpg);
    height: 498.5px;
    background-size: cover;
    max-width: 498.5px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 78.5px;
    position: relative;
}
.section-title1{
    font-size: 40px;
    font-style: italic;
    text-align: center;
    padding-top: 87px;
    color: #36413E;
    position: relative;
}
.section-title2{
    font-size: 40px;
    color: #36413E;
    text-align: center;
}
.section-t-div{
    background-color: #FFFFFF;
    width: 407px;
    position: absolute;
    left: 530px;
}
.border{
    border-style: solid;
    border-color: #306B34;
    width: 493px;
    height: 493px;
    position: absolute;
    border-width: 3px;
    left: 19px;
    top: 21.5px;
}
.miller{
    width: 482px;
    background-color: #F9CFBC;
}
.box-title{
    font-size: 40px;
    color: #19381F;
    text-align: center;
    padding: 18px 0 18px 0;
}
.box1{
    position: relative;
}
.anna{
    position: absolute;
    top: 94.5px;
    left: 334px;
}
.box-p{
    font-size: 20px;
    font-style: italic;
    color: #7F7F7F;
    width: 300px;
    float: right;
    padding: 31px 0 26px 10px;
}
.clear{
    clear: both;
}
.more{
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    color: #7F7F7F;
}
.more-a{
    color: #7F7F7F;

}
.line-1{
    background-image: url(../img/Graphic\ Element\ Line.svg);
    height: 277px;
    width: 224px;
    background-size: cover;
    position: absolute;
}
