/* Header style */
.illuminated{
    font-weight: 900;
    font-size: 70px;
    margin-top: 10.8px;
}
.title{
    color: #36413E;

}
.social1{
    color: #36413E;
    font-size: 20px;
}
.nav-a{
    font-size: 18px;
    color: #7F7F7F;
}
.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
}
.nav{
    display: flex;
    flex-wrap: wrap;
}
.nav-li{
    margin: 40.5px 102px 0 0;
    font-size: 16px;
}
.nav-li:last-child{
    margin-right: 36.3px;
}
.social{
    margin-top: 40.5px;
}
.fa-search{
    margin-right: 18.3px;
}
.fab{
    margin-right: 8.2px;
}
.fab:last-child{
    margin-right: none;
}
.fa-facebook-f{
    margin-right: 12.8px;
}